.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.form_container {
    max-width: 500px;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-body {
    border-radius: 1rem;
    padding: 20px;
}

.btn-outline-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

.me-2 {
    margin-right: 8px;
}
